env/
playground/
waterbody_env/
.vscode/
data/
.vs/
wheels/
temp/
work_dir/
water_body_finder/__pycache__/
water_body_finder/feature_extraction/__pycache__/
water_body_finder/utilities/__pycache__/
data_processing/
tests/
training/
total_images.py/

.gitignore
